.status-container {
	display: flex;
	justify-content: center;
	height: 120px;
	text-align: center;
}

.game-status {
	background-color: darkgray;
	border-radius: 8px;
	width: 300px;
	font-size: 2rem;
	margin-block: 12px;
	padding-block: 20px;
}

.player h3 {
	font-size: 2.5rem;
}

.player-score {
	font-size: 2rem;
}

.game-container {
	margin-top: 24px;
}

.board {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 8px;
	font-weight: 700;
	font-size: 5rem;
}

.board__cell {
	cursor: pointer;
	align-content: center;
	text-align: center;
	outline: 2px solid black;
	border-radius: 4px;
}

.start-modal {
	display: flex;
	width: 100%;
	height: 100%;
 	background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.menu-start {
	padding: 24px 48px 48px;
	background-color: white;
	width: fit-content;
	margin:auto;
}

.menu-start h1 {
	margin-block-end: 16px
}

.menu-start form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.menu-start label {
	font-weight: 700;
	margin-inline-end: 8px;
}

.end-button	{
	margin-block-start: 2rem;
	display: none;
	justify-content: center;
}

.end-button button {
	padding: 4px 16px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 4px;
	font-size: 1.25rem;
}

.end-button button:hover {
	background-color: orangered;
	color: black;
}
